<section class="new">
    <div class="container">
      <h1 ><a id="newIn">MY MENU</a></h1>
      <div class="row">
        
        <% if(products.length==0){%>
          <div class="mb-5">Không tìm thấy sản phẩm nào!</div>
          <%} else{%>
            <%products.forEach(function(data) { %>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="item mb-5">
                  <div class="img position-relative overflow-hidden content-hover">
                    <img class="w-100" src="/./img/<%= data.image %>" />
                    <div
                      class="info d-flex justify-content-center align-items-center flex-column position-absolute text-white"
                    >
                  
                      <a class="d-block mt-3 mb-2 text-white text-decoration-none" style="outline: 1px solid orange; padding :5px" 
                       id="<%=data.id%>" href="layout/product-detail/?key=<%=data._id%>" >Chi tiết sản phẩm</a
                      >
                      
                    </div>
                  </div>
                  <h4 class="text-center"><%= data.name%></h4>
                  <p class="text-center">Giá :<%= data.price%> VND</p>

                </div>
              </div>
              <% }); %>

        <%}%>   
      </div>
    </div>
  </section>